[phases.setup]
aptPkgs = ["curl"]
nixPkgs = ["nodejs-20_x", "npm-10_x"]

[phases.install]
cmds = [
    "npm ci"
]

[phases.build]
cmds = [
    "npm run build",
    "mkdir -p dist/migrations",
    "cp -r server/migrations/* dist/migrations/"
]

[phases.start]
cmd = "npm start"

[variables]
NODE_ENV = "production"
NODE_VERSION = "20.16.0"